@font-face {
    font-family: "century gothic";
    src: url(../img/fonts/GOTHIC.TTF) format("truetype");
}

@font-face {
    font-family: "century gothic";
    src: url(../img/fonts/GOTHICB.TTF) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "century gothic";
    src: url(../img/fonts/GOTHICI.TTF) format("truetype");
    font-style: italic, oblique;
}

@font-face {
    font-family: "century gothic";
    src: url(../img/fonts/GOTHICBI.TTF) format("truetype");
    font-weight: bold;
    font-style: italic, oblique;
}

.popup{
    display: none;
    font-size: 12px;
    overflow-x: visible;
}
.img_menu{
    cursor: pointer;
}
.button{
    
}
.img_lnk{
    cursor:pointer;
    display: inline;
    border:none;
}
body{
    background-image: url("../img/base/back.png");
    background-repeat: repeat;
    font-family: century gothic;
    font-size: 10px;
}
h2{
    padding-left: 10px;
    padding-top: 10px;
    clear:both;
}
.main_bar{
/*    background-color: white;*/
}

.main_content{
    width: 910px;
}
.main_content_TD{
    padding:5px;
    background-color: #edecec ;
    min-height: 300px;
}
table{
    font-family: century gothic;
    font-size: 12px;
}

div.jqDockLabelText{
    color: white;
    width: 100px;
}
a:hover{text-decoration:none;}
a{text-decoration:none;}

.lnk_blue{
    color:blue;
    text-decoration: underline;
}

.status{
    width: 100%;
}

.but-general{
	float:left;
	overflow: hidden;
	cursor: pointer;
	padding: 5px;
}

.but-general-s1{
    float: left;
    height: 100%;
    text-align: center;
    font-size: 15px;
    background-color: #c10a27;
    color: white;
}

.but-general-s2{
	float: left;
	height: 100%;
	text-align: center;
	font-size: 15px;
    background-color: #9c9c9c;
    color: white;
}

input[type="text"], input[type='password'], input[type='search'],textarea{
    border:solid 2px #9c9c9c;
}
input[type="text"]:focus, input[type='password']:focus, input[type='search']:focus,textarea:focus{
    border:solid 2px #c10a27;
}

