.menu{
        margin:0px;
        padding:0px;
        position:fixed;
        _position:absolute;
        top:-1px;
        /*_top:expression(eval(document.body.scrollTop));*/
	background-color: white;
	width: 170px;
        height: 100%;
	top: 0px;
        left:0px;
        z-index: 300;
        display:none;
        overflow:auto;

}

.MenuElem{
	font: bold 13px Verdana;
        margin: 0px;
	padding: 0px;
	display: block;
        cursor: pointer;
        height: 40px;
        width:100%;
        overflow: hidden;
        clear:both;
        float:left;
   	border-bottom: 1px solid #C0C0C0;
        color: #3d3d3d;
}
.MenuElem_over{
	font: bold 13px Verdana;
        margin: 0px;
	padding: 0px;
	display: block;
        cursor: pointer;
        height: 40px;
        width:100%;
        overflow: hidden;
        clear:both;
        float:left;
   	border-bottom: 1px solid #C0C0C0;
        background-color: #3d3d3d;
        color:white;
}

.menu img{
    border:none;
}
.status{
    width: 100%;
        
}

.menuUser{
    padding-top: 5px;
    width:100%;
    background-color: #d2d2d2;
    float:left;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;

}
.menuUser_over{
    padding-top: 5px;
    width:100%;
    background-color: #3d3d3d;
    cursor: pointer;
    float:left;
    height: 40px;
    margin-top: 10px;
}
.menuUser_over table{
    color:white;
}
.menuButton{
  
        margin:0px;
        padding:3px;
        padding-left:4px;
        position:fixed;
        _position:absolute;
        top:-1px;
        /*_top:expression(eval(document.body.scrollTop+(document.body.clientHeight/2)));*/ 
        color:white;
	width: 20px;
        height: 20px;
        top: 300px;
        left:-6px;
        z-index: 300;
        display:block;
        cursor:pointer;
    
}