.menu-element{
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #9c9c9c;
	color: white;
	cursor: pointer;
}

.selected{
    background-color: #c10a27;	
	
}

.user-data{
    margin-top: 3px;
    text-align:right;
    float:right;
    font-size: 12px;
    padding:3px;
    text-transform:lowercase;
}