<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
    <security>
         <requestFiltering>
            <!-- only allow GET,POST verbs -->
            <verbs allowUnlisted="false" applyToWebDAV="true">
               <add verb="GET" allowed="true" />
               <add verb="POST" allowed="true" />
            </verbs>
                <hiddenSegments>
                    <add segment="includes" />
                    <add segment="usertmp" />
                    <add segment="logs" />
                </hiddenSegments>
         </requestFiltering>
      </security>
 </system.webServer>
</configuration> 

